<%= form_for(@product) do |f| %>
  
  <div class="form-group">
		<%= f.label :name, "Name" %>
		<%= f.text_field :name, class: 'form-control' %>
	</div>

  <div class="form-group">
		<%= f.label :model, "model" %>
		<%= f.text_field :model, class: 'form-control' %>
	</div>
	
	<div class="form-group">
		<%= f.label :image, "image" %>
		<%= f.file_field :image, class: 'form-control', style:'width: 50%' %>
	</div>
	
	<div class="form-group">
		<%= f.label :camera, "camera" %>
		<%= f.text_field :camera, class: 'form-control' %>
	</div>
	
	<div class="form-group">
		<%= f.label :dimensions, "dimensions" %>
		<%= f.text_field :dimensions, class: 'form-control' %>
	</div>
	
	<div class="form-group">
		<%= f.label :description, "description" %>
		<%= f.text_area :description, class: 'form-control' %>
	</div>
	
	<div class="form-group">
		<%= f.label :price, "Price" %>
		<%= f.text_field :price, value: 1, class: 'form-control', min: 1 %>
	</div>

	<%= f.submit "Save", class: 'btn btn-success' %>

<% end %>
